body{
    background-color:rgb(231, 237, 243);
    }
    
    #main #title h1{
    text-align: center;
    }
    
    #img-div{
        text-align: center;
    }

    img{
        margin: auto;
        display: block;
        max-width: 100%;
    }
    
    #img-caption{
    font-family: 'Courier New', Courier, monospace;
    }

    #tribute-info{
        margin: 50px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    
    #link{
        text-align: center;
    }
    
